.text-right.mb-4
    .btn-group(role='group')
        a.btn.btn-primary(href="/admin/"+name+"/")
            span.fas.fa-th.mr-1
            span Table
        if(_id)
            a.btn.btn-warning.text-white(href="/"+name+"/"+_id,target="_blank")
                span.fas.fa-eye.mr-1
                span Preview
        else
            a.btn.btn-warning.text-white(href="/"+name+"/",target="_blank")
                span.fas.fa-eye.mr-1
                span Preview
        a.btn.btn-danger(href="/admin/"+name+"/insert")
            span.fas.fa-plus.mr-1
            span New