extends admin-layout
block content
	include partials/admin-toolbar
	.container(data-ng-init="admin.model('"+name+"')")
		form(data-ng-init="admin.edit('"+_id+"')")
			div(data-ng-repeat="elemend in page.schema")
				.form-group(data-ng-if="admin.getTypeByName(elemend,'text')")
					label.text-capitalize(for="elemend-{{elemend}}",data-ng-bind="elemend")
					input.form-control(id="elemend-{{elemend}}",type="{{admin.getTypeByName(elemend)}}",, placeholder='Enter {{elemend}}',data-ng-model="page.record[elemend]")
				.form-check(data-ng-if="admin.getTypeByName(elemend,'checkbox')")
					input.form-check-input(type="{{admin.getTypeByName(elemend)}}",id="elemend-{{elemend}}",data-ng-model="page.record[elemend]")
					label.text-capitalize(for="elemend-{{elemend}}",data-ng-bind="elemend")
				.form-group(data-ng-if="admin.getTypeByName(elemend,'email')")
					label.text-capitalize(for="elemend-{{elemend}}",data-ng-bind="elemend")
					input.form-control(id="elemend-{{elemend}}",type="{{admin.getTypeByName(elemend)}}", placeholder='Enter {{elemend}}',data-ng-model="page.record[elemend]")
				.form-group(data-ng-if="admin.getTypeByName(elemend,'password')")
					label.text-capitalize(for="elemend-{{elemend}}",data-ng-bind="elemend")
					input.form-control(id="elemend-{{elemend}}",type="{{admin.getTypeByName(elemend)}}", placeholder='Enter New {{elemend}}',data-ng-model="page.record[elemend]")
				.form-group(data-ng-if="admin.getTypeByName(elemend,'file')")
					.row
						.col-12
							.border.p-2
								h5 Images
								.row
									.col-12
										button.btn.btn-link(title="Insert image",onclick="document.getElementById('from-image').click()")
											span.h1.far.fa-plus-square
										input#from-image.d-none(type='file',onchange="angular.element(this).scope().admin.insertImage('"+_id+"')",accept=".png,.jpg,.webp")
									.col-12(data-ng-repeat="image in page.record[elemend].images") image
			.text-right
				button.btn.btn-primary(data-ng-click="admin.udateRecord()") Save