extends admin-layout
block content
	include partials/admin-toolbar
	.container(data-ng-init="admin.model('"+name+"')")
		form(data-ng-init="admin.edit('"+_id+"')")
			div(data-ng-repeat="elemend in page.schema")
				.form-group(data-ng-if="admin.getTypeByName(elemend,'text')")
					label.text-capitalize(for="elemend-{{elemend}}",data-ng-bind="elemend")
					input.form-control(id="elemend-{{elemend}}",type="{{admin.getTypeByName(elemend)}}",, placeholder='Enter {{elemend}}',data-ng-model="page.record[elemend]")
				.form-check(data-ng-if="admin.getTypeByName(elemend,'checkbox')")
					input.form-check-input(type="{{admin.getTypeByName(elemend)}}",id="elemend-{{elemend}}",data-ng-model="page.record[elemend]")
					label.text-capitalize(for="elemend-{{elemend}}",data-ng-bind="elemend")
				.form-group(data-ng-if="admin.getTypeByName(elemend,'email')")
					label.text-capitalize(for="elemend-{{elemend}}",data-ng-bind="elemend")
					input.form-control(id="elemend-{{elemend}}",type="{{admin.getTypeByName(elemend)}}", placeholder='Enter {{elemend}}',data-ng-model="page.record[elemend]")
				.form-group(data-ng-if="admin.getTypeByName(elemend,'password')")
					label.text-capitalize(for="elemend-{{elemend}}",data-ng-bind="elemend")
					input.form-control(id="elemend-{{elemend}}",type="{{admin.getTypeByName(elemend)}}", placeholder='Enter New {{elemend}}',data-ng-model="page.record[elemend]")
				.form-group(data-ng-if="admin.getTypeByName(elemend,'file')")
					.row
						.col-12
							.border.p-2
								h5 Images
								.row
									.col-1
										button.btn.btn-link(title="Insert image",onclick="document.getElementById('from-image').click()")
											span.h1.far.fa-plus-square
										input#from-image.d-none(name="image",type='file',onchange="angular.element(this).scope().admin.insertImage('"+_id+"','#from-image')",accept=".png,.jpg,.webp")
									.col-1.p-1(data-ng-repeat="image in page.record[elemend]")
										button.btn.btn-sm.btn-link.float-right.m-0.p-0(data-ng-click="removeImage(image,$index)")
											small.far.fa-trash-alt.text-danger
										picture
											source(data-ng-repeat="type in ['webp','png','jpg']" type="image/{{type}}",data-ng-srcset="/upload/images/"+name+"/"+_id+"/{{image.thumbnail[type].name+'/'+image.thumbnail[type].name+'.'+type}}")
											img.img-fluid(data-ng-src="/upload/images/"+name+"/"+_id+"/{{image.thumbnail.jpg.name+'/'+image.thumbnail.jpg.name+'.jpg'}}")
			.text-right
				button.btn.btn-primary(data-ng-click="admin.udateRecord()") Save