extends layout
block content
	.container-fluid
		nav(aria-label='breadcrumb')
			ol.breadcrumb.small.px-3.py-1
				li.breadcrumb-item(aria-current='page',data-ng-init="page.title='SSC'")
					a(href='/') Αρχική
		h1 Welcome to Home Page
